body{
	margin: 0;
	background-color: #161618;
	color: #EDEDF0;
	font-family: 'unifontEx';
	font-size: 16px;
}

::selection{
	background-color: #EDEDF0;
	color: #161618;
}

em{
	color: #7090FF;
	font-style: normal;
}

#container{
	width: 80%;
	margin: 25px auto 0;
}

#menu{
	user-select: none;
	margin-bottom: 10px;
	text-align: center;
}

#menu span:active{
	opacity: 0.75;
}

#game{
	user-select: none;
	text-align: center;
	word-break: keep-all;
}

#game span:active{
	opacity: 0.75;
}

#view-content{
	margin: 10px 0;
}

#close{
	user-select: none;
	text-align: center;
}

#close:active{
	opacity: 0.75
}

#search{
	display: block;
	margin: 50px auto;
	border-radius: 0;
	padding: 5px 10px;
	border: 1px solid #EDEDF0;
	outline: none;
	background-color: inherit;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}

.head{
	font-weight: bold;
	font-size: 20px;
}

.head a{
	color: inherit;
	text-decoration: none;
}

.head:not(:first-of-type){
	margin-top: 25px;
}

.example{
	margin: 5px 0 5px 2px;
	padding-left: 10px;
	border-left: 2px solid #EDEDF0;
}

.information{
	opacity: 0.75;
}